# Cargar Archivo Libreria Pandas
###### En la carga de archivos se importa de la libreria **Pandas** la funcion **pd** para los Dataframe y poder manipular los datos que se encuentran tabulados como ocurre en la el archivo titanic.csv

In [86]:
# Cargar el archivo CVS para mostrar las columnas
import pandas as pd
data = pd.read_csv(r'C:/Users/yodid/Python Ciencia de datos/titanic.csv')
print("Columnas del archivo CSV:")
print(data.columns)

Columnas del archivo CSV:
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare'], dtype='object')

La función **print** comúnmente usada en varios lenguajes de programación se usa para mostrar información de la variables contenidas en un archivo o variables previamente definidas.

En el ejercicio se muestra como se muestra los datos mostrando las primeras 5 filas y las ultimas 5 filas. Especificando al final cuantas filas y columnas contiene el archivo

In [54]:
print(data)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

#  Mostrar los tipos de datos de cada columna

<p>Previamente se mostró la infomación de los datos contenidos en el archivo, en este bloque usaremos la funcion print para visualizar la información en conjunto con la funcion <span style="color:blue;">dtypes</span> que pertenece a la biblioteca  <span style="color:blue;">Pandas</span> y nos ayuda para determinar que tipo de datos tenemos en los <span style="color:blue;">Dataframes</span> y tener seguridad de que los datos esten acordes con los que estamos trabajando.</p>

Tipos

In [106]:
# los tipos de datos de cada columna
print("\nTipos de datos de cada columna:")
print(data.dtypes)

Tipos de datos de cada columna:
Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard      int64
Fare                       float64
dtype: object

## Cantidad de datos por columna

<p>Para visualizar la cantidad de datos usamos la función <span style="color:blue;">count</span> que pertenece a la biblioteca  <span style="color:blue;">Pandas</span> determina la cantidad de datos tenemos en los <span style="color:blue;">Dataframes</span> y poder saber si estan completamente diligenciadas las columnas.

In [29]:
#   Mostrar la cantidad de datos en cada columna
import pandas as pd
print("Cantidad de datos en cada columna:")
print(data.count())

Cantidad de datos en cada columna:
Survived                   887
Pclass                     887
Name                       887
Sex                        887
Age                        887
Siblings/Spouses Aboard    887
Parents/Children Aboard    887
Fare                       887
dtype: int64

## Cantidad de valores nulos en cada columna
<p> Con la función <span style="color:blue;">isnull()</span> se valida los datos nulos y con la funcion  <span style="color:blue;">sum()</span> que pertenece a la biblioteca  <span style="color:blue;">numpy</span> nombre proviene de <span style="color:blue;">“Numerical Python"</span> sirve para la manipulación de gran cantidad datos haciendolos más rápido que las funciones estandar de Python

In [7]:
# Imprime la cantidad de valores nulos en cada columna
import pandas as pd
import numpy as np
data = pd.read_csv(r'C:/Users/yodid/Python Ciencia de datos/titanic.csv')
print("\nCantidad de valores nulos en cada columna:")
print(data.isnull().sum())

Cantidad de valores nulos en cada columna:
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

# Valores distintos en cada columna
##### Se una la funcion nunique para contar los valores distintos en cada columna y poder analizar si en cierta columna hay más valores de los posibles en caso dado un ejemplo: variable Survived solo pueden existir dos valores vivo o fallecido.

In [17]:
# Mostrar la cantidad de valores distintos en cada columna
print("Cantidad de valores distintos en cada columna:")
print(data.nunique())

Cantidad de valores distintos en cada columna:
Survived                     2
Pclass                       3
Name                       887
Sex                          2
Age                         89
Siblings/Spouses Aboard      7
Parents/Children Aboard      7
Fare                       248
dtype: int64