# Limpieza de datos

##### Se carga el archivo census_income.csv, se eliminar columnas innecesaria, se usa un for para iterar todar las columnas, luego se comienza a realizar las condiciones con IF reemplazando valor "?" con Unknown se apliza para las variables workclass, native-country, occupation

In [56]:
import pandas as pd
import numpy as np

# Cargar los datos
data = pd.read_csv(r'C:/Users/yodid/Python Ciencia de datos/census_income.csv')

# Mostrar las primeras filas del DataFrame original
print("Data original:")
print(data.head())

# 1. Eliminar columnas innecesarias
if 'Unnamed: 0' in data.columns:
    data.drop(columns=['Unnamed: 0'], inplace=True)
    
for index, row in data.iterrows():
    # Rellenar valores '?' en 'workclass' con 'Unknown'
    if row['workclass'] == '?':
        data.at[index, 'workclass'] = 'Unknown'
        # Rellenar valores '?' en ''native-country'' con 'Unknown'
    if row['native-country'] == '?':
        data.at[index, 'native-country'] = 'Unknown'
         # Rellenar valores vacio en ''native-country'' con 'Unknown'
    if pd.isnull(row['native-country']):
        data.at[index, 'native-country'] = 'Unknown'
        # Rellenar valores '?' en ''occupation'' con 'Unknown'
    if row['occupation'] == '?':
        data.at[index, 'occupation'] = 'Unknown'
        # Eliminar filas con valores negativos en 'age'
    if row['age'] < 0:
        data.drop(index, inplace=True)

 #EliminaciÃ³n de duplicados
data.drop_duplicates(inplace=True)

# Mostrar el DataFrame limpio
print("Data limpio:")
print(data.head())

DataFrame original:
   Unnamed: 0  age         workclass  fnlwgt  education  education-num  \
0           0   39         State-gov   77516  Bachelors             13
1           1   50  Self-emp-not-inc   83311  Bachelors             13
2           2   38           Private  215646    HS-grad              9
3           3   53           Private  234721       11th              7
4           4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
Data limpio:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K